body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #01345b;
}

/* Overall website */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  background-color: white;
  width: 60%;
}

.box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2% 0%;
  padding: 1%;
}

/* Input box styles */
.inputContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  --x: -1px;
  --y: 2px;
}

input {
  outline: none;
  width: 400px;
  /* padding: 2%; */
  height: auto;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
}

input:hover {
  border-bottom: 1px solid gray;
}

label {
  position: absolute;
  color: black;
  left: var(--x);
  top: var(--y);
  border: 1px solid white;
  /* background-color: red; */
  border: none;
  padding: 0px 5px 0px 5px;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: calc(var(--y) * -6);
  font-size: 12px;
  transition: ease 0.5s;
}

.searchBtn {
  justify-content: center;
  align-self: center;
  font-size: 1.2rem;
  padding: 12px 18px;
  position: relative;
  border: 2px solid #01345b;
  border-radius: 0;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #01345b;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }

  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }
}

.currentWeather {
  height: 400px;
}
.weatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 100%;
}
.countryName {
  text-align: center;
  margin: 0px;
}
.countryTime {
  text-align: center;
  margin: 0px;
}

.weatherInfoPanelWrapper {
  display: flex;
  flex-direction: column;
}

.weatherInfoTop {
  display: flex;
  flex-direction: row;
}

.weatherIcon {
  width: 64px;
  height: 64px;
}

.avgTemp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.condition {
  font-size: 1.2rem;
  text-align: center;
}

.weatherInfoPanel {
  width: 400px;
  /* height: 70px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info {
  margin: 0;
  height: 20px;
  flex: 1;
  min-height: 50%;
  box-sizing: border-box;
  text-align: center;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-self: center;
  text-align: center;
}

img {
  width: 25px;
  height: 25px;
}
